
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');


[class*="_title"] {
    h2 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        color: #3C4242;
        display: flex;
        gap: 20px;
        align-items: center;

        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 30px;
            background: #8A33FD;
            border-radius: 10px;
        }
    }
}



.actual-fashion {
    padding: 0px 10px;
}
.actual-fashion__container {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    gap: 100px;
}

.collection-seeson {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.collection-seeson__first-section {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.40);
    border-radius: 12px;
    background-image: url('../images/first-woman.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 30px;
}
.collection-seeson__text {
    color: #FFF;
    & > :last-child {
        margin-bottom: 0;
    }
    h5 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 25px;
    }
    h2 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        margin-bottom: 10px;
    }
    p {
        font-family: "CoreSansCRegular", sans-serif;
        font-size: 16px;
        margin-bottom: 40px;
    }
}
.collection-seeson__second-section {
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.40);
    border-radius: 12px;
    background-image: url('../images/second-woman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 30px;
}



.fresh-looks {
    & > :not(:last-child) {
        margin-bottom: 70px;
    }
}
.fresh-looks__listing {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
	grid-auto-rows: 1fr;
    justify-items: center;
    gap: 40px;
}
.fresh-looks__item {
    & > :last-child {
        margin-bottom: 0px;
    }
    img {
        aspect-ratio: 260 / 260;
        object-fit: cover;
        margin-bottom: 30px;
    }
    p {
        font-family: 'CaustenBold', sans-serif;
        font-size: 20px;
        color: #3C4242;
    }
}


.trend-clothes {
    & > :not(:last-child) {
        margin-bottom: 70px;
    }
}
.trend-clothes__content {
    display: grid;
    grid-template: repeat(2, minmax(auto, 1fr)) / repeat(6, 1fr);
    gap: 20px;
}





.first-promo {
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1 / 1 / 1 / span 2;
    border-radius: 10px;
    padding: 65px 20px;
    display: grid;
    row-gap: 30px;
    justify-items: flex-start;
}
.first-promo__text {
    color: #FFF;
    max-width: 163px;
    & > :last-child {
        margin-bottom: 0;
    }
    h3 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        margin-bottom: 10px;
    }
    p {
        font-family: "CoreSansCRegular", sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    img, a {
        display: block;
    }
    img {
        margin-bottom: 40px;
        width: 27px;
        height: 23px;
    }
}
.first-promo__link, .second-promo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    a {
        display: block;
        color: #FFF;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid #FFF;
        font-family: "CaustenRegular", sans-serif;
        font-size: 12px;
    }
}

.second-promo {
    background-image: url('../images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1 / 3 / 1 / span 2;
    border-radius: 10px;
    padding: 65px 20px;
    display: grid;
    row-gap: 30px;
    justify-items: flex-end;
}
.second-promo__text {
    color: #FFF;
    text-align: right;
    & > :last-child {
        margin-bottom: 0;
    }
    h3 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        margin-bottom: 10px;
    }
    p {
        font-family: "CoreSansCRegular", sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    img, a {
        display: block;
    }
    img {
        margin-bottom: 40px;
        width: 27px;
        height: 23px;
    }
}
.third-promo {
    background-image: url('../images/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1 / 5 / 1 / span 2;
    border-radius: 10px;
    padding: 65px 20px;
    display: grid;
    row-gap: 30px;
    justify-items: flex-end;
}
.third-promo__text {
    color: #3C4242;
    text-align: right;
    & > :last-child {
        margin-bottom: 0;
    }
    h3 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        margin-bottom: 10px;
    }
    p {
        font-family: "CoreSansCRegular", sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    img, a {
        display: block;
    }
    img {
        margin-bottom: 40px;
        width: 27px;
        height: 23px;

    }
}
.third-promo__link, .fourth-promo__link, .fifth-promo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    a {
        display: block;
        color: #3C4242;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid #3C4242;
        font-family: "CaustenRegular", sans-serif;
        font-size: 12px;
    }
}
.fourth-promo {
    text-align: right;
    background-image: url('../images/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 2 / 1 / 2 / span 3;
    padding: 45px 120px;
    display: grid;
    row-gap: 30px;
    justify-items: flex-end;
    border-radius: 12px;
}
.fourth-promo__text {
    color: #3C4242;
    & > :last-child {
        margin-bottom: 0;
    }
    h3 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        margin-bottom: 10px;
    }
    p {
        font-family: "CoreSansCRegular", sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    img, a {
        display: block;
        align-self: center;
    }
    img {
        margin-bottom: 40px;
        width: 27px;
        height: 23px;
    }
}
.fifth-promo {
    text-align: right;
    background-image: url('../images/5.jpg');
    grid-area: 2 / 4 / 2 / span 3;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 120px;
    display: grid;
    row-gap: 30px;
    justify-items: flex-end;
    border-radius: 12px;
    
}
.fifth-promo__text {
    & > :last-child {
        margin-bottom: 0;
    }
    h3 {
        font-family: "CoreSansCBold", sans-serif;
        font-size: 34px;
        margin-bottom: 10px;
    }
    p {
        font-family: "CoreSansCRegular", sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 30px;
    }
    img, a {
        display: block;
        align-self: center;
    }
    img {
        margin-bottom: 40px;
        width: 27px;
        height: 23px;
    }
}



@media screen and (max-width: 1095px) {
    .collection-seeson {
        display: grid;
        justify-content: center;
        grid-template: repeat(2, 1fr) / minmax(100px, 600px);
        gap: 30px;
    }
    .collection-seeson__first-section {
        background-image: url('../images/first-woman.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .trend-clothes__content {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
        gap: 20px;
    }
    .fifth-promo, .fourth-promo, .third-promo, .second-promo, .first-promo {
        grid-area: auto;
    }
    [class*="_title"] {
        h2 {
            justify-content: center;
        }
    }
}