








.main {
    flex-grow: 1;
}
















.strategic-analysis {
    display: flex;
    @media screen and (max-width: ToEm(1470)) {
        flex-direction: column;
        align-items: center;
        gap: ToEm(60);
    }
}

.development-plan {
    max-width: ToRem(830);
/*     display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: ToEm(150) ToEm(50) ToEm(150) ToEm(350);
    background-color: $light-grey-color;
    @media screen and (max-width: ToEm(1470)) {
        padding: ToEm(40) ToEm(10);
        max-width: ToRem(670);
        background-color: transparent;
    }
    & > :not(:last-child) {
        margin-bottom: ToEm(20);
    }
    &__image {
        img {
            @include choose-adaptive('image-adaptive2');
        }
    }
    &__title {
        & > :last-child {
            margin-bottom: 0px;
        }
        h2 {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: ToRem(30);
            margin-bottom: ToEm(15, 30);
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $grey-color;
            margin-bottom: ToEm(15, 18);
        }
        a {
            display: block;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
        }
    }
}































.risk-assessment {
    padding-left: ToEm(70);
    max-width: ToRem(670);
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > :last-child {
        margin-bottom: 0px;
    }
    @media screen and (max-width: ToEm(1470)) {
        padding: ToEm(10);
        max-width: ToRem(670);
    }
    &__title {
        h6 {
            @extend %subtitle;
            margin-bottom: ToEm(15, 18);
        }
        h2 {
            @extend %h2-title;
            margin-bottom: ToEm(20, 40);
            @media screen and (max-width: ToEm(500)) {
                font-size: ToRem(30);
            }
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $grey-color;
            margin-bottom: ToEm(15, 18);
        }
        margin-bottom: ToEm(40, 20);
    }
    &__list {
        font-family: 'Poppins', sans-serif;
        font-size: ToRem(20);
        color: $graphite-color;
        & > :not(:last-child) {
            margin-bottom: ToEm(20, 20);
        }
        li {
            display: flex;
            align-items: center;
            gap: ToEm(8, 20);
        }
    }
    &__body {
        display: flex;
        gap: ToEm(20);
        margin-bottom: ToEm(40);
        @media screen and (max-width: ToEm(600)) {
            flex-wrap: wrap;
        }
    }
    &__button {
        a {
            display: inline-block;
            color: white;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: ToRem(18);
            padding: ToEm(30, 18) ToEm(20, 18);
            background-color: $blue-color;
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #4c55a5;
                }
            }
        }
    }
}
.achievements {
    display: flex;
    padding: ToEm(30);
    gap: ToEm(20);
    border: 1px solid $light-grey-color;
    flex: 0 1 ToRem(300);
    .achievements__left {
        img {
            @include choose-adaptive('image-adaptive3', null, 40px, 40px);
        }
    }
    .achievements__right {
        & > :last-child {
            margin-bottom: 0px;
        }
        h4 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: ToRem(20);
            color: $graphite-color;
            margin-bottom: ToEm(5, 20);
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(16);
            color: $grey-color;
        }
    }
}
























.company {
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: ToRem(30);
        padding: ToRem(100) ToRem(10) ToRem(100) ToRem(10);
        img {
            @include choose-adaptive('image-adaptive2')
        }
    }
    
}



























.portfolio {
    padding-bottom: ToEm(100);
    &__container {
        & > :not(:last-child) {
            margin-bottom: ToEm(40);
        }
    }
    &__title {
        max-width: ToRem(510);
        margin: 0 auto;
        text-align: center;
        & > :not(:last-child) {
            margin-bottom: ToEm(15);
        }
        h6 {
            @extend %subtitle;
            justify-content: center;
        }
        h2 {
            @extend %h2-title;
            @media screen and (max-width: ToEm(500)) {
                font-size: ToRem(30);
            }
        }
    }
}

.listing-portfolio {
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
	grid-auto-rows: 1fr;
    gap: ToEm(30);
    &__item {
        display: flex;
        justify-content: space-between;
        gap: ToEm(20);
        background-color: $light-grey-color;
        padding: ToEm(30);
        align-items: center;

    }
    &__title {
        & > :last-child {
            margin-bottom: 0px;
        }
        h4 {
            font-family: 'Poppins', sans-serif;
            font-size: ToRem(25);
            font-weight: 600;
            margin-bottom: ToEm(30, 25);
        }
        a {
            font-size: ToRem(18);
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            color: $blue-color;
        }
    }
    &__img {
        img {
            @include choose-adaptive('image-adaptive3', null, 72px, 72px);
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: ToRem(25);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: white;
        background-color: $blue-color;
        a {
            display: block;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background-color: white;
                margin-top: ToEm(2, 25);
                transition: 0.3s;
            }
            @media (any-hover: hover) {
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}



























.advantages {
    padding: ToEm(140) 0;
    background-image: url('../images/main/back.jpeg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-color: $graphite-color;
    @media screen and (max-width: ToEm(1400)) {
        background-image: none;
    }
    &__container {
        @media screen and (max-width: 1400px) {
            display: flex;
            justify-content: center;
        }
    }
    &__content {
        max-width: ToRem(610);
        padding: ToEm(20);
        & > :not(:last-child) {
            margin-bottom: ToEm(35);
        }
        @media screen and (max-width: 1700px) {
            background-color: #37393f88;
            border-radius: 10px;
        }
    }
    &__title {
        color: #FFF;
        & > :not(:last-child) {
            margin-bottom: ToEm(10);
        }
        h6 {
            @extend %subtitle;
        }
        h2 {
            @extend %h2-title;
            color: white;
            @media screen and (max-width: ToEm(500)) {
                font-size: ToRem(30);
            }
        }
        p {
            font-size: ToRem(18);
            font-family: 'Inter', sans-serif;
            line-height: ToEm(25, 18);
        }
    }
    &__body {
        & > :not(:last-child) {
            margin-bottom: ToEm(35);
        }
    }
}

.percentage {
    display: flex;
    flex-wrap: wrap;
    gap: ToEm(15);
    &__item {
        flex: 1 1 200px;
        background: #2E2F34;
        display: flex;
        align-items: center;
        gap: ToEm(15);
        padding: ToEm(27) ToEm(30);
    }
    &__title {
        color: #FFF;
        p {
            font-size: ToRem(16);
            font-family: 'Inter', sans-serif;
        }
        h6 {
            font-size: ToRem(18);
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.client-count {
    display: flex;
    gap: ToEm(35);
    flex-wrap: wrap;
    &__first-section {
        & > :not(:last-child) {
            margin-bottom: ToEm(20);
        }
        p {
            font-family: 'Poppins', sans-serif;
            font-size: ToRem(20);
            color: #FFF;
            font-weight: 300;
            &::before {
                content: '';
                display: inline-block;
                background-image: url('../images/main/galochka.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: ToRem(25);
                height: ToRem(25);
                vertical-align: middle;
                margin-right: ToEm(8);
            }
        }
    }
    &__first-section--bold {
        font-weight: 700;
    }
    &__first-section--yellow {
        color: rgb(255, 187, 0);
    }
    &__second-section {
        & > :not(:last-child) {
            margin-bottom: ToEm(20);
        }
        p {
            font-family: 'Poppins', sans-serif;
            font-size: ToRem(20);
            color: #FFF;
            font-weight: 700;
    
            &::before {
                content: '';
                display: inline-block;
                background-image: url('../images/main/galochka.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: ToRem(25);
                height: ToRem(25);
                vertical-align: middle;
                margin-right: ToEm(8);
            }
        }
        a {
            display: inline-block;
            color: #40DDB6;
            font-size: ToRem(18);
            font-weight: 600;
            font-family: 'Inter', sans-serif;
            transition: 0.3s;
    
            &:hover {
                color: #2a8f76;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: ToRem(2);
                background-color: $green-color;
                margin-top: ToEm(3);
                transition: 0.3s;
            }
            &:hover::after {
                width: 0;
                background-color: #2a8f76;
            }
        }
    }
    
    
    
}



























.project-inspiration-gallery {
    padding: ToEm(130) ToEm(30);
    & > :not(:last-child) {
        margin-bottom: ToEm(40);
    }
    &__title {
        /* padding: 0 ToEm(310); */
        display: flex;
        gap: ToEm(20);
        justify-content: space-around;
        @media screen and (max-width: ToEm(970)) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__text {
        h6 {
            @extend %subtitle;
        }
        h2 {
            @extend %h2-title;
            line-height: ToEm(45, 40);
            @media screen and (max-width: ToEm(640)) {
                font-size: ToRem(30);
            }
        }
        & > :not(:last-child) {
            margin-bottom: ToEm(15);
        }
        @media screen and (max-width: ToEm(970)) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            h6 {
                justify-content: center;
            }
        }
    }
    &__button {
        align-self: center;
        a {
            display: block;
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            font-weight: 600;
            color: white;
            background-color: $green-color;
            padding: ToEm(20) ToEm(45);
            white-space: nowrap;
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #2d967c;
                }
            }
        }
    }
    &__images {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-rows: 1fr;
        justify-items: center;
        gap: ToEm(40);
        img {
            @include choose-adaptive('image-adaptive1', '430 / 500');
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
}

























.reviews {
    padding-bottom: 275px;
    &__container {
        display: flex;
        gap: ToEm(37);
        @media screen and (max-width: ToEm(1045)) {
            flex-direction: column;
        }
    }
    &__title {
        flex: 1 0 ToRem(320);
        @media screen and (max-width: ToEm(1045)) {
            flex: 1 1 auto;
        }
        h6 {
            @extend %subtitle;
            margin-bottom: ToEm(16)
        }
        h2 {
            @extend %h2-title;
            margin-bottom: ToEm(23, 40)
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $grey-color;
        }
        & > :last-child {
            margin-bottom: 0px;
        }
    }
}


.listing-reviews {
    display: flex;
    gap: ToEm(36);
    flex-wrap: wrap;
    & > :nth-child(2) {
        align-self: flex-start;
    }
    &__item {
        padding: ToEm(50) ToEm(37);
        flex: 1 1 ToRem(310);
        background-color: $light-grey-color;
        & > :not(:last-child) {
            margin-bottom: ToEm(34);
        }
    }
    &__title {
        display: flex;
        gap: ToEm(16);
        align-items: center;
    }
    &__img {
        img {
            @include choose-adaptive('image-adaptive3', null, 100px, 100px);
            border-radius: 50%;
        }
    }
    &__name {
        flex: 1 1 auto;
        & > :not(:last-child) {
            margin-bottom: ToEm(5);
        }
        h5 {
            @extend %h2-title;
            font-size: ToRem(20);
            font-weight: 600;
        }
        h6 {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(16);
            color: $grey-color;
        }
    }
    &__text {
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(22);
            color: $grey-color;
            font-style: italic;
        }
    }
}
















.business-boost {
    background-color: $blue-color;
    padding: ToEm(120) 0;
    &__container {
        display: flex;
        gap: ToEm(53);
        & > :last-child {
            margin-bottom: 0px;
        }
        @media screen and (max-width: ToEm(1000)) {
            flex-direction: column;
        }
    }
}

.left-side-business-boost {
    flex: 0 1 ToRem(580);
    color: white;
    @media screen and (max-width: ToEm(1000)) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        margin-bottom: ToEm(34);
        max-width: ToRem(515);
        h6 {
            @extend %subtitle;
            margin-bottom: ToEm(16, 18);
            @media screen and (max-width: ToEm(1000)) {
                justify-content: center;

            }
        }
        h2 {
            @extend %h2-title;
            color: white;
            margin-bottom: ToEm(20, 40);
        }
        p {
            font-size: ToRem(18);
            font-family: 'Inter', sans-serif;
        }
        & > :last-child {
            margin-bottom: 0px;
        }

    }
    &__project {
        display: flex;
        background-color: $green-color;
        padding: ToEm(35);
        align-items: center;
        gap: ToEm(23);
        margin-bottom: ToEm(50);
        @media screen and (max-width: ToEm(1000)) {
            justify-content: center;
        }
        @media screen and (max-width: ToEm(500)) {
            flex-direction: column;
        }
    }
    &__img {
        flex: 0 0 100px;
        img {
            @include choose-adaptive('image-adaptive1', '128 / 128');
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
    &__text {
        font-family: 'Poppins', sans-serif;
        font-size: ToRem(25);
        flex: 0 1 360px;
        @media screen and (max-width: ToEm(500)) {
            flex: 1 1 auto;
            text-align: center;
        }
    }
    &__list {
        max-width: ToRem(515);
        & > :not(:last-child) {
            margin-bottom: ToEm(18);
        }
    }
    &__item {
        display: flex;
        gap: ToEm(16);
        
        &:not(:last-child) {
            .left-side-business-boost__content {
                border-bottom: 1px solid white;
            }
        }
    }
    &__mark {
        img {
            @include choose-adaptive('image-adaptive3', null, 27px, 27px)
        }
    }
    &__content {
        padding-bottom: ToEm(20);
        & > :not(:last-child) {
            margin-bottom: 7px;
        }
        h5 {
            font-family: 'Poppins', sans-serif;
            font-size: ToRem(22);
            font-weight: 500;
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
        }
    }
}



.right-side-business-boost {
    flex: 0 1 ToRem(580);
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: ToEm(20);
    &__title {
        max-width: 365px;
        & > :last-child {
            margin-bottom: 0px
        }
        @media screen and (max-width: ToEm(1000)) {
            justify-self: center;
        }
        h6 {
            @extend %subtitle;
            color: white;
            margin-bottom: ToEm(20, 18);
            @media screen and (max-width: ToEm(1000)) {
                justify-content: center;
            }
        }
        h2 {
            @extend %h2-title;
            color: white;
        }
    }
    &__form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: ToEm(30);
        background-color: white;
        gap: ToEm(30);
        input, textarea {
            display: block;
            background-color: $light-grey-color;
            padding: ToEm(15) ToEm(20);
            &::placeholder, &:valid {
                font-family: 'Inter', sans-serif;
                font-size: ToRem(14);
                color: $graphite-color;
            }
        }
        textarea {
            min-height: 140px;
        }
        & > :nth-child(-n + 3),
        & > :nth-last-child(-n + 2) {
        width: 100%;
        }

        & > :nth-child(4),
        & > :nth-child(5) {
        flex: 1 1 ToRem(200);
        }

        & > :nth-last-child(-n + 2) {
        resize: none;
        }
        .test {
            position: relative;
            input {
                width: 100%;
            }
            img {
                position: absolute;
                right: 20px;
                top: 13px;
                width: 17px;
                height: 17px;
            }
        }
    }
    &__button {
        align-self: flex-end;
        button {
            padding: ToEm(20) ToEm(60);
            background-color: $green-color;
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            font-weight: 600;
            color: $graphite-color;
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #30a88a;
                }
            }
        }
    }
}


















.team {
    background-image: url('../images/main/Team1.jpeg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    padding: ToEm(260) 0;
}
.team__title {
    padding: ToEm(87) ToEm(130);
    background-color: #2e2f34b0;
    @media screen and (max-width: ToEm(630)){
        padding: ToEm(40) ToEm(10);
    }
    h2 {
        text-align: center;
        @extend %h2-title;
        color: white;
/*         white-space: nowrap; */
    }
}

























.latest-articles {
    padding: ToEm(200) 0 ToEm(130) 0;
    &__container {
        display: grid;
        row-gap: ToEm(40);
    }
    &__title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: ToEm(10);
    }
    &__text {
        & > :last-child {
            margin-bottom: 0px;
        }
        h6 {
            @extend %subtitle;
            margin-bottom: ToEm(16, 18)
        }
        h2 {
            @extend %h2-title;
        }
    }
    &__button {
        align-self: center;
        a {
            display: block;
            padding: ToEm(20) ToEm(40);
            background-color: $graphite-color;
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            font-weight: 600;
            color: white;
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #525763;
                }
            }
        }
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        grid-auto-rows: 1fr;
        gap: ToEm(36);
    }
}

.post {
    & > :not(:last-child) {
        margin-bottom: ToEm(19);
    }
    &__picture {
        img {
            @include choose-adaptive('image-adaptive1', '590 / 360');
            height: auto;
            max-width: 100%;
        }
    }
    &__date {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        p {
            flex: 1 1 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: ToEm(3);
            white-space: nowrap;
            padding: 20px 40px;
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $green2-color;
            font-weight: 500;
            background-color: $green-color;
        }
        & > :nth-child(1) {
            background-color: $blue-color;
            color: white;
        }
        
        & > :nth-child(2), & > :nth-child(3) {
            &::before {
                content: '';
                display: block;
                width: ToRem(14);
                height: ToRem(14);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        
        & > :nth-child(2)::before {
            background-image: url('../images/main/svg1.svg');
        }
        
        & > :nth-child(3)::before {
            background-image: url('../images/main/svg2.svg');
        }
    }
    &__title {
        & > :last-child {
            margin-bottom: 0px;
        }
        h4 {
            @extend %h2-title;
            font-size: ToRem(30);
            font-weight: 600;
            margin-bottom: ToEm(13, 30);
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $grey-color;
            margin-bottom: ToEm(26, 18);
        }
        a {
            display: inline-block;
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $blue-color;
            font-weight: 500;
            white-space: nowrap;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: $blue-color;
                transition: 0.3s;
            }
            @media (any-hover: hover) {
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}






















.contact {
    padding-bottom: ToEm(200);
    &__container {
        display: flex;
        justify-content: center;
        background: url('../images/main/Photo.jpeg') right/cover no-repeat;
        padding: ToEm(100) 0;
        position: relative;
        &::before {
            content: '';
            display: block;
            background-color: #40ddb6c5;
            backdrop-filter: blur(5px);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    &__title {
        text-align: center;
        position: relative;
        z-index: 2;
        flex: 0 1 ToRem(730);
        h6 {
            @extend %subtitle;
            margin-bottom: ToEm(26, 18);
            justify-content: center;
            &::before {
                background-color: $blue-color;
            }
        }
        h2 {
            @extend %h2-title;
            margin-bottom: ToEm(10, 40);
            span {
                color: white;
            }
            @media screen and (max-width: ToEm(540)){
                font-size: ToRem(30);
            }
        }
        p {
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: $graphite-color;
            margin-bottom: ToEm(26, 18);
        }
        a {
            display: inline-block;
            font-family: 'Inter', sans-serif;
            font-size: ToRem(18);
            color: white;
            font-weight: 500;
            white-space: nowrap;
            background-color: $blue-color;
            padding: ToEm(20, 18) ToEm(40, 18);
            transition: 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #525baf;
                }
            }
        }
    }
}
