body {
    background-image: url('../images/df.png');
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    overflow-x: hidden;
}

.bamper {
    width: 395px;
    height: 130px;
    background-image: url('../images/pngwing.com.png');
    background-position: 85px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgb(92, 47, 47);
    position: absolute;
    top: 597px; /* 1080 * 0.645 */
    left: 537.6px; /* 1920 * 0.28 */
    transform:  rotate(-0.3deg) skew(0deg, 4.5deg);
    z-index: 10;
}

.left-chast {
    width: 670px;
    height: 130px;
    position: absolute;
    top: 554px; /* 1080 * 0.598 */
    left: 932.4px; /* 1920 * 0.4856 */
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
    background-color: rgb(66, 34, 34);
    z-index: 10;
}

.kapot {
    width: 397px;
    height: 130px;
    position: absolute;
    top: 477.5px; /* 1080 * 0.517 */
    left: 679.68px; /* 1920 * 0.354 */
    transform:  rotate(4.1deg) skewX(-65deg);
    background-color: rgb(73, 37, 37);
    z-index: 5;
}

.left-chast-1 {
    width: 320px;
    height: 100px;
    position: absolute;
    top: 530px; /* 1080 * 0.57 */
    left: 913px; /* 1920 * 0.4743 */
    transform:  rotate(-10deg);
    background-color: rgb(58, 30, 30);
    z-index: 4;
}

.left-chast-2 {
    width: 380px;
    height: 60px;
    position: absolute;
    top: 474px; /* 1080 * 0.51 */
    left: 1208px; /* 1920 * 0.629 */
    transform:  rotate(-0.3deg) skew(25deg, -9.5deg);
    background-color: rgb(51, 26, 26);
    z-index: 3;
}

.lobovoe-steklo {
    width: 400px;
    height: 120px;
    position: absolute;
    top: 372px; /* 1080 * 0.423 */
    left: 877px; /* 1920 * 0.465 */
    transform:  rotate(4.1deg) skewX(-40deg);
    background-image: url('../images/ryandark.png');
    background-color: black;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-y: -10px;
}

.ramki {
    position: absolute;
    background-color: rgb(87, 44, 44);
}

.lobovoe-steklo-ramka1 {
    width: 10px;
    height: 140px;
    position: absolute;
    top: 357px; /* 1080 * 0.413 */
    left: 868px; /* 1920 * 0.469 */
    transform:  rotate(4.1deg) skewX(-40deg);
}

.lobovoe-steklo-ramka2 {
    width: 10px;
    height: 140px;
    position: absolute;
    top: 385px; /* 1080 * 0.435 */
    left: 1259px; /* 1920 * 0.6473 */
    transform:  rotate(4.1deg) skewX(-40deg);
}

.lobovoe-steklo-ramka3 {
    width: 402px;
    height: 10px;
    position: absolute;
    top: 374px; /* 1080 * 0.426 */
    left: 927px; /* 1920 * 0.495 */
    transform:  rotate(4.1deg) skewX(-40deg);
    z-index: 10;
}

.koleso-1,
.koleso-2 {
    position: absolute;
    top: 620px; /* 1080 * 0.68 */
    left: 1056px; /* 1920 * 0.55 */
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: rgb(22, 22, 22);
    z-index: 10;
}

.koleso-1-pokryshki,
.koleso-2-pokryshki {
    position: absolute;
    top: 632px; /* 1080 * 0.692 */
    left: 1065px; /* 1920 * 0.556 */
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: rgb(158, 158, 158);
    z-index: 11;
}

.koleso-1-pokryshki-2,
.koleso-2-pokryshki-2 {
    position: absolute;
    top: 636px; /* 1080 * 0.7078 */
    left: 1070px; /* 1920 * 0.559 */
    transform: rotate(-0.3deg) skew(0deg, -9.5deg);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: rgb(128, 128, 128);
    z-index: 11;
}

.koleso-2 {
    width: 150px;
    height: 150px;
    top: 540px; /* 1080 * 0.6 */
    left: 1440px; /* 1920 * 0.75 */
}

.koleso-2-pokryshki {
    width: 130px;
    height: 130px;
    top: 550px; /* 1080 * 0.606 */
    left: 1450px; /* 1920 * 0.755 */
}

.koleso-2-pokryshki-2 {
    width: 120px;
    height: 120px;
    top: 555px; /* 1080 * 0.612 */
    left: 1456px; /* 1920 * 0.758 */
}

.krysha {
    width: 400px;
    height: 40px;
    background-color: rgb(77, 38, 38);
    position: absolute;
    top: 342px; /* 1080 * 0.391 */
    left: 1026px; /* 1920 * 0.52 */
    transform:  rotate(4.1deg) skewX(-78deg);
}
.steklo-left {
    width: 359px;
    height: 100px;
    background-color: black;
    position: absolute;
    transform:  rotate(-11deg) skew(25deg, -22deg);
    top: 463px; /* 1080 * 0.51 */
    left: 1205px;
    z-index: -1;
}
.steklo-left-1 {
    width: 330px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 385px; /* 1080 * 0.51 */
    left: 1195px;
    z-index: -1;
    transform:  rotate(-8deg)
}
.steklo-left-ramka {
    width: 5px;
    height: 90px;
    background-color: rgb(77, 38, 38);
    top: 358px; /* 1080 * 0.51 */
    left: 1540px;
    position: absolute;
    transform:  rotate(-11deg) skew(25deg, -22deg);
}
.steklo-left-ramka-dveri {
    width: 5px;
    height: 120px;
    background-color: rgb(77, 38, 38);
    top: 358px; /* 1080 * 0.51 */
    left: 1400px;
    position: absolute;
    transform:  rotate(-11deg) skew(25deg, -22deg);
}
.doroga {
    width: 2000px;
    height: 700px;
    background-color: rgba(37, 37, 37, 1);
    background-image: linear-gradient(94deg, rgba(37, 37, 37, 1) 0%, rgba(51, 51, 51, 1) 33%, rgba(35, 35, 35, 1) 66%, rgba(37, 37, 37, 1) 100%);
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
    position: absolute;
    z-index: -2;
    bottom: -360px;
    right: -10px;
}
.polya {
    width: 2000px;
    height: 400px;
    background-color: rgba(25, 31, 26, 1);
background-image: linear-gradient(94deg, rgba(25, 31, 26, 1) 0%, rgba(38, 43, 24, 1) 30%, rgba(3, 43, 18, 1) 50%, rgba(0, 57, 34, 1) 75%, rgba(31, 59, 5, 1) 100%);
    z-index: -5;
    position: absolute;
    top: 417px;
}
.nebo {
    width: 2000px;
    height: 600px;
    z-index: -6;
    position: absolute;
    background-image: url('../images/black-polnolunie-krasnaya_luna-luna-noch-nebo-zvezdnoe_nebo-92837.jpeg');
    background-size: 70%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: right;
}
.general {
    background-color: rgb(37, 16, 3);
    position: absolute;
    width: 10px;
    height: 100px;
    top: 650px;
    z-index: -3;
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
}
.zabor-1 {
    top: 625px;
    left: 200px;
}
.zabor-2 {
    top: 600px;
    left: 400px;
}
.zabor-3 {
    top: 390px;
    left: 1600px;
}
.zabor-4 {
    top: 360px;
    left: 1800px;
}
.zabor-palka-1 {
    width: 2000px;
    height: 15px;
    background-color: rgb(53, 23, 4);
    position: absolute;
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
    top: 510px;
    z-index: -3;
}
.zabor-palka-2 {
    width: 2000px;
    height: 15px;
    background-color: rgb(53, 23, 4);
    position: absolute;
    transform:  rotate(-0.3deg) skew(0deg, -9.5deg);
    top: 540px;
    z-index: -3;
}
.derevo {
    width: 800px;
    height: 800px;
    background-image: url('../images/1688378550_kartin-papik-pro-p-kartinki-derevo-letom-dlya-detei-35.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -4;
    top: -100px;
}
.derevo-1 {
    width: 400px;
    height: 400px;
    background-image: url('../images/1688378550_kartin-papik-pro-p-kartinki-derevo-letom-dlya-detei-35.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 100px;
    left: 800px;
    z-index: -4;
}
.fary {
    width: 60px;
    height: 30px;
    background-color: rgb(129, 79, 3);
    position: absolute;
    z-index: 11;
    top: 635px; /* 1080 * 0.645 */
    left: 545px; /* 1920 * 0.28 */
    transform:  rotate(-0.3deg) skew(0deg, 4.5deg);
    border-radius: 5px;
    border: 3px solid black;
}
.fary-2 {
    width: 60px;
    height: 30px;
    background-color: rgb(129, 79, 3);
    position: absolute;
    z-index: 11;
    top: 655px; /* 1080 * 0.645 */
    left: 850px; /* 1920 * 0.28 */
    transform:  rotate(-0.3deg) skew(0deg, 4.5deg);
    border-radius: 5px;
    border: 3px solid black;
}
.bamper-2 {
    width: 395px;
    height: 20px;
    background-color: rgb(27, 27, 27);
    position: absolute;
    top: 709px; /* 1080 * 0.645 */
    left: 537.6px; /* 1920 * 0.28 */
    transform:  rotate(-0.3deg) skew(0deg, 4.5deg);
    z-index: 11;
}