@charset "UTF-8";
@import url("../styles/reset.css");
@import url("../styles/fonts.css");
#wrapper {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
}

.popular {
  padding: 0px 10px 0px 10px;
}
.popular__container {
  max-width: 1200px;
  margin: 0 auto;
}
.popular__container > :not(:last-child) {
  margin-bottom: 40px;
}
.popular__title {
  text-align: center;
}
.popular__title > :not(:last-child) {
  margin-bottom: 30px;
}
.popular__title h2 {
  font-family: "DM Serif Text", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.popular__title p {
  font-family: "DM Serif Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #8C8B8A;
}
@media screen and (max-width: 1240px) {
  .popular__title {
    background-color: #3D1901;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
  }
  .popular__title h2 {
    color: white;
  }
}
.popular__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1240px) {
  .popular__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.popular__demonstration {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}
.popular__demonstration img {
  width: 100%;
  height: 100%;
  aspect-ratio: 400/730;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1240px) {
  .popular__demonstration {
    display: none;
  }
}

.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px;
}
.item > :not(:last-child) {
  margin-bottom: 15px;
}
.item__title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item__image {
  overflow: hidden;
}
.item__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 370/280;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.item:hover .item__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.item:hover .item__title {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
}

.reviews__container {
  max-width: 1600px;
  margin: 0 auto;
}
.reviews__container > :not(:last-child) {
  margin-bottom: 90px;
}
.reviews__title {
  text-align: center;
}
.reviews__title h6 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #D06B00;
  margin-bottom: 8px;
}
.reviews__title h2 {
  font-family: "DM Serif Text", sans-serif;
  font-size: 48px;
  color: #0E333D;
  margin-bottom: 20px;
}
.reviews__title p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #8C8B8A;
}
.reviews__title > :last-child {
  margin-bottom: 0;
}
.reviews__scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.reviews__round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D8D8D8;
}
.reviews__round--blue {
  background-color: #0E333D;
}
.reviews__content > :not(:last-child) {
  margin-bottom: 50px;
}
.reviews__list-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.message {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 555px;
          flex: 0 1 555px;
  border-radius: 12px;
  border: 1px solid #D8D8D8;
  padding: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.message:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.205) ж;
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.205) ж;
}
.message:hover .message__name h4::after {
  width: 100%;
}
.message > :not(:last-child) {
  margin-bottom: 30px;
}
.message__text p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #323232;
}
.message__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.message__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 56px;
          flex: 0 1 56px;
}
.message__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 56/56;
  -o-object-fit: cover;
     object-fit: cover;
}
.message__name > :not(:last-child) {
  margin-bottom: 10px;
}
.message__name h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #323756;
}
.message__name h4::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #525252;
  margin-top: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.message__name p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #646464;
}
.message--blue {
  background-color: #0E333D;
}
.message--white p {
  color: white;
}