@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular,italic");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
@import url("../styles/reset.css");
#wrapper > :not(:last-child) {
  margin-bottom: 50px;
}

.popular {
  padding: 0px 10px 0px 10px;
}
.popular__container {
  max-width: 1200px;
  margin: 0 auto;
}
.popular__title {
  text-align: center;
  margin-bottom: 130px;
}
.popular__title > :not(:last-child) {
  margin-bottom: 30px;
}
.popular__title h2 {
  font-family: "DM Serif Text", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.popular__title p {
  font-family: "DM Serif Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #8C8B8A;
}
.popular__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.popular__demonstration {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
}
.popular__demonstration img {
  width: 100%;
  height: 100%;
  aspect-ratio: 400/730;
  -o-object-fit: cover;
     object-fit: cover;
}

.item > :not(:last-child) {
  margin-bottom: 15px;
}
.item__title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.item__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 370/280;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__container {
  max-width: 1600px;
  margin: 0 auto;
}
.reviews__container > :not(:last-child) {
  margin-bottom: 90px;
}

.reviews__title {
  text-align: center;
}
.reviews__title h6 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #D06B00;
  margin-bottom: 8px;
}
.reviews__title h2 {
  font-family: "DM Serif Text", sans-serif;
  font-size: 48px;
  color: #0E333D;
  margin-bottom: 20px;
}
.reviews__title p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #8C8B8A;
}
.reviews__title > :last-child {
  margin-bottom: 0;
}

.reviews__content > :not(:last-child) {
  margin-bottom: 50px;
}

.reviews__list-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.message {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 555px;
          flex: 0 1 555px;
  border-radius: 12px;
  border: 1px solid #D8D8D8;
  padding: 50px;
}
.message > :not(:last-child) {
  margin-bottom: 30px;
}
.message__text p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #323232;
}
.message__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.message_name > :not(:last-child) {
  margin-bottom: 10px;
}
.message_name h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #323756;
}
.message_name p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #646464;
}
.message--blue {
  background-color: #0E333D;
}
.message__text--white p {
  color: white;
}
.message__name--white h4 {
  color: white;
}

.reviews__scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.reviews__round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D8D8D8;
}

.reviews__round--blue {
  background-color: #0E333D;
}

@media screen and (max-width: 1240px) {
  .popular__title {
    background-color: #3D1901;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
  }
  .popular__title h2 {
    color: white;
  }

  .popular__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popular__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popular__demonstration {
    display: none;
  }
}