@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:regular');
@import url('https://fonts.googleapis.com/css?family=Inter:regular');



@font-face {
    font-family: ReoSansLight;
    src: url(../fonts/ReoSansLight.woff2) format(woff2), url(../fonts/ReoSansLight.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ReoSansBold;
    src: url(../fonts/ReoSansBold.woff2) format(woff2), url(../fonts/ReoSansLight.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: QuintyRegular;
    src: url(../fonts/Quinty-Regular.woff2) format(woff2), url(../fonts/Quinty-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: QuintyItalic;
    src: url(../fonts/Quinty-Italic.woff2) format(woff2), url(../fonts/Quinty-Italic.woff2) format(woff);
    font-weight: normal;
    font-style: normal;
}