.footer {
    background-color: #1D1D1D;
}

.footer__container {
    padding: 30px 10px 30px 10px;
    @include container (flex);
    justify-content: space-between;
    align-items: center;
    p {
        margin: 0
    }
}

.footer__logo {
    color: #7D7D7D;
    h2 {
        margin: 0;
        @extend %font-logo;
    }
    a {
        @extend %font-other;
        color: #4d4d4d;
        text-decoration: none
    }
    p {
        @extend %font-other;
        color: #4d4d4d;
    }
}
.footer__contacts {
    @extend %font-other;
    color: #7D7D7D;
    text-align: right;
    a {
        text-decoration: none;
        color: rgba(255, 121, 121, 0.8);
    }
    span {
        color: rgb(161, 161, 161);
    }
}
