@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
.header {
  position: sticky;
  z-index: 100;
  top: 0;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.363);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.363);
  background-color: #333333;
}

.header__container {
  max-width: 1400px;
  margin: 0 auto;
}

.navigation__list {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.navigation__list > li {
  display: inline-block;
}
.navigation__list > li > a {
  display: inline-block;
  padding: 20px 10px;
}
.navigation__list > li > a:hover {
  background-color: white;
  color: #333333;
}

.navigation__submenu-first, .navigation__submenu-second {
  display: none;
  text-align: left;
  position: absolute;
  color: #000;
  background-color: #8f8f8f;
  width: 200px;
}
.navigation__submenu-first > li > a, .navigation__submenu-second > li > a {
  display: inline-block;
  padding: 20px 10px;
}
.navigation__submenu-first > li:not(:last-child), .navigation__submenu-second > li:not(:last-child) {
  border-bottom: 1px solid #2e2e2e;
}
.navigation__submenu-first > li:hover, .navigation__submenu-second > li:hover {
  background-color: #747474;
  color: black;
}

.navigation__submenu-second {
  left: 200px;
  top: 120px;
}

.navigation__list li:hover > ul {
  display: block;
}

.squady {
  padding: 150px 10px;
}

.squady__container {
  max-width: 1220px;
  margin: 0 auto;
  font-size: 0;
}

.squady__list > :not(:last-child) {
  margin-bottom: 30px;
}

.item-first, .item-second, .item-third, .item-fourth, .item-fifth, .item-sixth {
  font-size: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 385px;
  min-height: 532px;
}
.item-first > img, .item-second > img, .item-third > img, .item-fourth > img, .item-fifth > img, .item-sixth > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.item-first::before, .item-second::before, .item-third::before, .item-fourth::before, .item-fifth::before, .item-sixth::before {
  content: "";
  display: none;
  width: 100%;
  max-width: 385px;
  min-height: 532px;
  background-color: rgba(107, 119, 229, 0.7);
  position: absolute;
  z-index: -1;
}
.item-first:hover::before, .item-second:hover::before, .item-third:hover::before, .item-fourth:hover::before, .item-fifth:hover::before, .item-sixth:hover::before {
  display: block;
}

[class*=__title] {
  padding: 25px 70px;
  text-align: center;
  margin: 20px;
  position: relative;
  top: 404px;
  background-color: white;
}
[class*=__title] h4 {
  color: #37393F;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
[class*=__title] p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #7D7D7D;
}

[class*=__social] {
  display: none;
  position: absolute;
  left: 110px;
  top: 220px;
}
[class*=__social] a {
  display: inline-block;
  margin-right: 10px;
}
[class*=__social] a img {
  width: 46px;
}

.item-first:hover > .item-first__social {
  display: block;
}

.item-second:hover > .item-second__social {
  display: block;
}

.item-third:hover > .item-third__social {
  display: block;
}

.item-fourth:hover > .item-fourth__social {
  display: block;
}

.item-fifth:hover > .item-fifth__social {
  display: block;
}

.item-sixth:hover > .item-sixth__social {
  display: block;
}

.squady__upper > :not(:last-child) {
  margin-right: 30px;
}

.squady__down > :not(:last-child) {
  margin-right: 30px;
}