@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900');


.header {
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.363);
    background-color: rgb(51, 51, 51);
}
.header__container {
    max-width: 1400px;
    margin: 0 auto;
}

.navigation__list {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    & > li {
        display: inline-block;
    }
    & > li > a {
        display: inline-block;
        padding: 20px 10px;
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(51, 51, 51);
        }
    }
}
.navigation__submenu-first, .navigation__submenu-second {
    display: none;
    text-align: left;
    position: absolute;
    color: #000;
    background-color: rgb(143, 143, 143);
    width: 200px;
    & > li > a {
        display: inline-block;
        padding: 20px 10px;
    }
    & > li {
        &:not(:last-child) {
            border-bottom: 1px solid rgb(46, 46, 46);
        }
        &:hover {
            background-color: rgb(116, 116, 116);
            color: rgb(0, 0, 0);
        }
    }
}
.navigation__submenu-second {
    left: 200px;
    top: 120px;
}

.navigation__list li:hover > ul {
    display: block;
}

.squady {
    padding: 150px 10px;
}
.squady__container {
    max-width: 1220px;
    margin: 0 auto;
    font-size: 0;
}

.item-first, .item-second, .item-third, .item-fourth,  .item-fifth, .item-sixth {
    font-size: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 385px;
    min-height: 532px;
    & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    &::before {
        content: '';
        display: none;
        width: 100%;
        max-width: 385px;
        min-height: 532px;
        background-color: rgba(107, 119, 229, 0.7);
        position: absolute;
        z-index: -1;
    }
    &:hover::before {
        display: block;
    }
}
[class*="__title"] {
    padding: 25px 70px;
    text-align: center;
    margin: 20px;
    position: relative;
    top: 404px;
    background-color: white;
    h4 {
        color: #37393F;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    p {
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        color: #7D7D7D;
    }
}
[class*="__social"] {
    display: none;
    position: absolute;
    left: 110px;
    top: 220px;
    a {
        display: inline-block;
        margin-right: 10px;
        img {
            width: 46px;
        }
    }
}


@for $i from 1 through 6 {
    $class: nth(("first", "second", "third", "fourth", "fifth", "sixth"), $i);
    .item-#{$class}:hover {
        > .item-#{$class}__social {
        display: block;
        }
    }
}




.squady__upper {
    margin-bottom: 30px;
    & > :not(:last-child) {
        margin-right: 30px;
    }
}
.squady__down {
    & > :not(:last-child) {
        margin-right: 30px;
    }
}