



// Фух, я постарался сделать всё хорошо. Конечно я хотел .message засунуть в &__list-messages
// Но подумал, что будет чересчур большая вложенность и побоялся



@import url('../styles/reset.css');
@import url('../styles/fonts.css');

$color-grey: #D8D8D8;
$color-blue: #0E333D;

$font-dm-serif: 'DM Serif Text', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-cormorant: 'Cormorant Infant', sans-serif;
$font-raleway: 'Raleway', sans-serif;

#wrapper {
    display: grid;
    row-gap: 50px;
}

.popular {
    padding: 0px 10px 0px 10px;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        & > :not(:last-child) {
            margin-bottom: 40px;
        }
    }
    &__title {
        text-align: center;
        & > :not(:last-child) {
            margin-bottom: 30px;
        }
        h2 {
            font-family: $font-dm-serif;
            font-size: 48px;
            font-weight: 400;
        }
        p {
            font-family: $font-dm-serif;
            font-size: 20px;
            font-weight: 500;
            color: #8C8B8A;
        }
        @media screen and (max-width: 1240px) {
            background-color: #3D1901;
            margin-bottom: 20px;
            padding: 30px;
            border-radius: 10px;
            h2 {
                color: white;
            }
        }
    }
    &__body {
        display: flex;
        gap: 30px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (max-width: 1240px) {
            justify-content: center;
        }
    }
    &__demonstration {
        flex: 1 0 400px;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 400 / 730;
            object-fit: cover;
        }
        @media screen and (max-width: 1240px) {
            display: none;
        }
    }
}
.item {
    flex: 0 1 370px;
    transition: 0.3s;
    cursor: pointer;
    padding: 5px;
    & > :not(:last-child) {
        margin-bottom: 15px;
    }
    &__title {
        font-family: $font-cormorant;
        font-weight: 700;
        font-size: 24px;
        transition: 0.3s;
    }
    &__image {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 370 / 280;
            object-fit: cover;
            transition: 0.3s;
        }
    }
    &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
        border-radius: 10px;
        .item__image {
            img {
                transform: scale(1.1);
            }
        }
        .item__title {
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
        }
    }
}



.reviews {
    &__container {
        max-width: 1600px;
        margin: 0 auto;
        & > :not(:last-child) {
            margin-bottom: 90px;
        }
    }
    &__title {
        text-align: center;
        h6 {
            font-family: $font-inter;
            font-size: 15px;
            color: #D06B00;
            margin-bottom: 8px;
        }
        h2 {
            font-family: $font-dm-serif;
            font-size: 48px;
            color: $color-blue;
            margin-bottom: 20px;
        }
        p {
            font-family: $font-raleway;
            font-size: 20px;
            font-weight: 500;
            color: #8C8B8A;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
    &__scrolling {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__round {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-grey;
        &--blue {
            background-color: $color-blue;
        }
    }
    &__content {
        & > :not(:last-child) {
            margin-bottom: 50px;
        }
    }
    &__list-messages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
}
.message {
    background-color: white;
    flex: 0 1 555px;
    border-radius: 12px;
    border: 1px solid $color-grey;
    padding: 50px;
    transition: 0.3s;

    cursor: pointer;
    &:hover {
        transform: scale(1.03);
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.205)ж
    }
    &:hover {
        .message__name h4::after {
            width: 100%;
        }
    }
    & > :not(:last-child) {
        margin-bottom: 30px;
    }
    &__text {
        p {
            font-family: $font-inter;
            font-size: 18px;
            color: #323232;
        }
        
    }
    &__data {
        display: flex;
        gap: 15px;
    }
    &__image {
        flex: 0 1 56px;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 56 / 56;
            object-fit: cover;
        }
    }
    &__name {
        & > :not(:last-child) {
            margin-bottom: 10px;
        }
    
        h4 {
            font-family: $font-inter;
            font-size: 20px;
            font-weight: 500;
            color: #323756;
            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: rgb(82, 82, 82);
                margin-top: 4px;
                transition: 0.3s;
            }
        }
        p {
            font-family: $font-inter;
            font-size: 16px;
            color: #646464;
        }
    }
    &--blue {
        background-color: #0E333D;
    }
    &--white  {
        p {
            color: white;
        }
    }
}




