@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:regular');
@import url('https://fonts.googleapis.com/css?family=Inter:regular');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text:regular');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic');



@font-face {
    font-family: 'CaustenRegular';
    src: url(../fonts/Causten-Regular.woff2) format(woff2), url(../fonts/Causten-Regular.woff) format(woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CaustenBold';
    src: url(../fonts/Causten-Bold.woff2) format(woff2), url(../fonts/Causten-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'CoreSansCBold';
    src: url(../fonts/CoreSansC-65Bold.woff2) format(woff2), url(../fonts/CoreSansC-65Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}