@font-face {
    font-family: 'Causten Regular';
    src: url(../fonts/Causten-Regular.woff2) format(woff2), url(../fonts/Causten-Regular.woff) format(woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Bold';
    src: url(../fonts/Causten-Bold.woff2) format(woff2), url(../fonts/Causten-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Core Sans C Bold';
    src: url(../fonts/CoreSansC-65Bold.woff2) format(woff2), url(../fonts/CoreSansC-65Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Core Sans C Regular';
    src: url(../fonts/CoreSansC-45Regular.woff2) format('woff2'), url(../fonts/CoreSansC-45Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Core Sans C Heavy';
    src: url(../fonts/CoreSansC-85Heavy.woff2) format('woff2'), url(../fonts/CoreSansC-85Heavy.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}